<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <title>Assistants</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__logo logo">
                    <img src="img/logo.svg" alt="logo">
                    <a href="./index.html" class="logo__title">
                        <span>Assistants</span>
                        <span>допомога стартапам</span>
                    </a>
                </div>
                <div class="menu">
                    <div class="header__actions">
                        <a href="#">Послуги</a>
                        <a href="#" class="header__email">assistants.for.startups@gmail.com</a>
                    </div>
                    <button class="burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </header>
        <div class="main">
            <section class="info">
                <div class="info__container">
                    <a href="./services.html" class="info__link">Назад до сторінки усіх послуг</a>
                    <p class="info__title">Послуга:</p>
                    <h2 class="title">Допомога+</h2>
                    <div>
                        <img class="info__illustraion2" src="./img/infoIllustration2.svg" alt="">
                    </div>
                    <p class="info__desc">В цьому пакеті послуг ми надаємо весь спектр допомоги вашому стартапу:</p>
                    <ul class="info__list">
                        <li>Регулярні консультації з нашими спеціалістами</li>
                        <li>Повний аналіз ринку</li>
                        <li>Перегляд бізнес плану та його редагування</li>
                        <li>Розробка власного бренду</li>
                        <li>Визначення правильної маркетингової стратегії</li>
                        <li>Запуск рекламної кампанії</li>
                        <li>Планування фінансів</li>
                        <li>Продакт та проджект менеджмент</li>
                        <li>Допомога щодо розподілення людських ресурсів та найму спеціалістів</li>
                        <li>Залучення інвесторів</li>
                    </ul>
                    <p class="info__price">Вартість послуги: <span>$1800/міс</span></p>
                </div>
                <img class="info__illustraion1" src="./img/infoIllustration.svg" alt="">
            </section>
            <section class="contact">
                <h2 class="contact__title title">Зацікавила пропозиція?</h2>
                <a href="#" class="link">Зв’язатись з нами</a>
            </section>
        </div>
        <footer class="footer">
            <div class="footer__container">
                <div class="footer__column">
                    <p>Автор дизайну: Дмитро Онопрієнко</p>
                    <p>LinkedIn: <a href="#">link</a></p>
                    <p>Github: <a href="#">link </a></p>
                    <p>Залікова книжка: <a href="#">link</a></p>
                </div>
                <div class="footer__column">
                    <p>Пошта: <a href="#">assistants.for.startups@gmail.com</a></p>
                    <p>Офіс у Києві: вул. Хрещатик, 15</p>
                    <p>Телефон: +38 050 123 45 67</p>
                </div>
            </div>
        </footer>
    </div>
    
    
    <script src="js/script.js"></script>
</body>
</html>